:root {
    --color-bg: rgb(255, 255, 255);
    --color-bg-opuesto: rgb(4 8 20);
    --color-primary: #6e4f95;
    --color-secondary: #c6b7d0;
    --color-tertiary: #47e1bb;
    --text-color: #2c2c2c;

    --color-border:rgb(255 255 255);
    --color-box: rgb(255 255 255);
    --box-border:rgb(229 231 235);
    --box-sd:    #00000000;
	--heading-1: #000000;
	--heading-2: #1a1a1a;
	--heading-3: #323232;

}

.dark {
    --text-color: #fafafa;
    --color-bg: rgb(4 8 20);
    --color-bg-opuesto: #fafafa;
    
    --color-box:  rgb(17 24 39);
    --box-border: rgb(243 244 246/0.1);
    --box-sd:     #00000000;	
    --heading-1:  #000000;	
    --heading-2:  #1a1a1a;	
    --heading-3:  #323232;
    
}

html{
    scroll-behavior: smooth;

    // this colors are for themes
	background: var(--color-bg);
    color: var(--text-color);
}

.color-bg {
    color: var(--color-bg-opuesto);
}