<div class="grid grid-cols-2 sm:max-md:grid-cols-1 gap-4 place-content-center">
    <div class="w-full flex sm:justify-center md:justify-end sm:mx-0 sm:my-2 md:-mx-10 md:my-10">
        <img src="/assets/about-us.png" alt="" class="rounded-sm sm:w-auto md:w-3/4">
    </div>
    <div class="w-full flex flex-col justify-center sm:w-1/2 md:w-3/4">
        <div>
            <p class="sm:text-3xl md:text-4xl sm:mb-8 md:mb-10">Quiénes somos</p>
            <p class="sm:text-sm md:text-base">Color Explosion ofrece una amplia gama de productos 3M, incluyendo la línea de estética automotriz, así como complementos especializados para el laminero, el pintor y el detallado automotriz. Somos distribuidores exclusivos de productos 3M y ofrecemos tanto venta al público en general como precios especiales para compras al por mayor.</p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center sm:-mx-8 md:-mx-10">
        <div class="grid">
            <p class="sm:text-3xl md:text-4xl sm:my-8 md:my-10 sm:justify-center md:justify-self-end sm:w-1/2 md:w-3/4">Conoce nuestros productos</p>
            <p class="sm:text-sm md:text-base sm:justify-center md:justify-self-end sm:w-1/2 md:w-3/4">Conoce nuestras pinturas para el sector automotriz, línea de estética automotriz 3M, complementos para el laminero, complementos para el pintor y complementos para detallado automotriz.<br><br>Somos distribuidores oficiales de Axalta.</p>
        </div>
    </div>
    <div class="w-full flex sm:my-2 md:mt-10 md:mb-20">
        <img src="/assets/our-products.png" alt="" class="rounded-sm w-3/4 sm:w-auto md:w-3/4">
    </div>
</div>
