<section id="nosotros">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pl-4">
    <div
      class="flex justify-center w-full lg:justify-end mx-0 my-2 lg:-mx-10 lg:my-10"
    >
      <img
        src="/assets/nosotros.png"
        alt="Tienda"
        class="rounded-sm w-3/4"
        data-aos="fade-up"
      />
    </div>
    <div
      class="flex flex-col justify-center w-3/4 max-w-[358px] lg:max-w-full mx-auto lg:mx-0"
    >
      <p
        class="text-3xl lg:text-4xl font-bold text-center lg:text-left mb-8 lg:mb-10"
      >
        ¿Por qué nosotros?
      </p>
      <p class="text-sm lg:text-base pb-2">
        En nuestra agencia de viajes nos especializamos en la venta de vuelos,
        ofreciéndote una experiencia cómoda, eficiente y personalizada.
        Trabajamos con aerolíneas reconocidas como Volaris, Aeroméxico y
        VivaAerobús, lo que nos permite encontrar las mejores tarifas y opciones
        de vuelos para ti.
      </p>
      <p class="font-bold pb-2">Asistencia en cada cliente</p>
      <p class="text-sm lg:text-base">
        Nos encargamos de realizar modificaciones o cancelaciones de tus vuelos,
        respetando las políticas de las aerolíneas. Te notificamos sobre cambios
        en tus vuelos, documentación necesaria y recordatorios para que no te
        preocupes por los detalles.
      </p>
      <div class="blur-circle">
        <div class="cb-part1"></div>
        <div class="cb-part2"></div>
      </div>
    </div>

    <div
      class="flex flex-col justify-center w-3/4 lg:w-full max-w-[358px] lg:max-w-full mx-auto lg:-mx-10 mt-12"
    >
      <div class="grid">
        <p
          class="lg:justify-self-end w-full lg:w-3/4 text-3xl lg:text-4xl font-bold text-center lg:text-left mb-8 lg:my-2"
        >
          Tips para un viaje seguro
        </p>
        <ul
          class="list-disc pl-10 space-y-2 text-gray-700 lg:justify-self-end w-full lg:w-3/4 text-sm lg:text-base"
        >
          <li>
            <p class="font-bold">Sigue las instrucciones de seguridad:</p>
            Escucha las indicaciones de las aerolíneas y del personal del aeropuerto
            para garantizar un vuelo tranquilo y seguro.
          </li>
          <li>
            <p class="font-bold">Llega con anticipación al aeropuerto:</p>
            Para vuelos nacionales, llega al menos 2 horas antes, y para vuelos internacionales,
            con 3 horas de anticipación.
          </li>
          <li>
            <p class="font-bold">Cuida tus pertenencias personales:</p>
            Mantén tus objetos de valor, como el pasaporte, billetera y dispositivos
            electrónicos, en un lugar seguro y siempre contigo.
          </li>
        </ul>
      </div>
      <div class="blur-circle">
        <div class="cb-part1"></div>
        <div class="cb-part2"></div>
      </div>
    </div>
    <div
      class="flex justify-center lg:justify-start w-full my-2 lg:mt-10 lg:mb-20"
    >
      <img
        src="/assets/tips.png"
        data-aos="fade-down"
        alt="Productos"
        class="rounded-sm w-3/4"
      />
    </div>
  </div>
</section>
