<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pl-4">
    <div class="flex justify-center w-full lg:justify-end mx-0 my-2 lg:-mx-10 lg:my-10">
        <img src="/assets/about-us.png" alt="Tienda" class="rounded-sm w-3/4" data-aos="fade-up">
    </div>
    <div class="flex flex-col justify-center w-3/4 max-w-[358px] lg:max-w-full mx-auto lg:mx-0">
        <p class="text-3xl lg:text-4xl font-bold text-center lg:text-left mb-8 lg:mb-10">Quiénes somos</p>
        <p class="text-sm lg:text-base">Color Explosion ofrece una amplia gama de productos 3M, incluyendo la línea de estética automotriz, así como complementos especializados para el laminero, el pintor y el detallado automotriz. Somos distribuidores exclusivos de productos 3M y ofrecemos tanto venta al público en general como precios especiales para compras al por mayor.</p>
        <div class="blur-circle">
            <div class="cb-part1"></div>
            <div class="cb-part2"></div>
        </div>
    </div>


    <div class="flex flex-col justify-center w-3/4 lg:w-full max-w-[358px] lg:max-w-full mx-auto lg:-mx-10 mt-12">
        <div class="grid">
            <p class="lg:justify-self-end w-full lg:w-3/4 text-3xl lg:text-4xl font-bold text-center lg:text-left mb-8 lg:my-10">Conoce nuestros productos</p>
            <p class="lg:justify-self-end w-full lg:w-3/4 text-sm lg:text-base">Conoce nuestras pinturas para el sector automotriz, línea de estética automotriz 3M, complementos para el laminero, complementos para el pintor y complementos para detallado automotriz.<br><br>Somos distribuidores oficiales de Axalta.</p>
        </div>
        <div class="blur-circle">
            <div class="cb-part1"></div>
            <div class="cb-part2"></div>
        </div>
    </div>
    <div class="flex justify-center lg:justify-start w-full my-2 lg:mt-10 lg:mb-20">
        <img src="/assets/our-products.png" data-aos="fade-down" alt="Productos" class="rounded-sm w-3/4">
    </div>
</div>
