<footer
  aria-labelledby="footer-heading"
  class="relative border-t border-gray-900/10 py-20"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="md:grid md:grid-cols-3">
    <div class="mt-10 grid grid-cols-1 gap-8 md:col-span-4 md:mt-0">
      <div class="sm:grid sm:grid-cols-1 sm:gap-8">
        <div class="flex justify-evenly">
          <div class="hover:scale-110 transition-transform">
            <a
              href="https://www.instagram.com/udigital.business/"
              class="text-md leading-6 text-gray-600 hover:text-gray-900"
              target="_blank"
            >
              <i class="fab fa-instagram mr-2"></i>Instagram</a
            >
          </div>
          <div class="hover:scale-110 transition-transform">
            <a
              href="https://www.facebook.com/profile.php?id=61565455771428"
              class="text-md leading-6 text-gray-600 hover:text-gray-900"
              target="_blank"
            >
              <i class="fab fa-facebook mr-2"></i>Facebook</a
            >
          </div>
          <div class="hover:scale-110 transition-transform">
            <a
              href="https://udigitalbusiness.com/"
              class="text-md leading-6 text-gray-600 hover:text-gray-900 font-semibold"
              target="_blank"
            >
              Hecho por UDigital Business
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
