
<footer aria-labelledby="footer-heading" class="relative border-t border-gray-900/10 py-20 mt-10">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="flex items-center justify-between">
            <a href="/" class="-m-1.5 p-1.5 flex items-center justify-center">
                <div class="p-2 bg-white rounded-full">
                    <img class="h-8 w-auto " src="/logo.png" alt="">
                </div>
              <span class="ml-1 text-lg">Color Explosión</span>
            </a>
        </div>
        <div class="mt-16 grid grid-cols-1 gap-8 xl:col-span-2 xl:mt-0">
            <div class="md:grid md:grid-cols-1 md:gap-8">
                <div class="flex justify-evenly">
                    <div>
                        <a href="https://www.facebook.com/AxaltaColorExplosion/?locale=es_LA" class="text-md leading-6 text-gray-600 hover:text-gray-900">
                            <i class="fab fa-instagram mr-2"></i>Instagram</a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/AxaltaColorExplosion/?locale=es_LA" class="text-md leading-6 text-gray-600 hover:text-gray-900">
                            <i class="fab fa-facebook mr-2"></i>Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="p-4 from-box-bg lg:px-20 sm:px-2 relative">
    <div class="flex justify-between items-center gap-6 text-sm color-[#ffffffb5]">
        <div>
            &copy; <span id="year"></span>Color Explosión. Todos los derechos reservados.
        </div>
        <div>
            Hecho por <a href="https://udigitalbusiness.com/" class="font-semibold">UDigital Business</a>
        </div>
    </div>
</div>