---
import ContactBtn from "./ContactBtn.astro";
---


<section
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold">
      Nombre de la marca o empresa
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eveniet architecto dolores earum reprehenderit? Provident repellat recusandae earum eligendi quo repellendus quaerat omnis blanditiis maxime vitae! Quaerat architecto magnam tempora.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <ContactBtn/>  
    </div>
  </div>
  <div class="py-6 md:order-1 md:block">
    <img src="public/assets/hero.png" alt="">
  </div>
</section>