<section
  class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24 section-hero">
  <div class="flex flex-col md:flex-row justify-between items-center min-h-screen p-4 md:p-8">
    <div class="card-left p-4 ml-28 mb-80 bg-black bg-opacity-20 backdrop-blur-[2px] text-white content-center rounded-md">
      <div class="flex items-center space-x-2">
        <p class="text-6xl font-bold">COLOR</p>
        <img src="/public/assets/logos/logo_negro.svg" alt="Logo" class="sm:h-10 md:h-24 w-auto relative sm:-translate-y-2 md:-translate-y-8">
      </div>
      <p class="text-6xl font-bold sm:-mt-2 md:-mt-6">EXPLOSIÓN</p>
      <p class="text-3xl font-light">Sucursal 5 de febrero #1085</p>
    </div>

    <div class="card-right mb-80 p-10 bg-black bg-opacity-20 backdrop-blur-[2px] text-white content-center rounded-md">
      <p class="text-3xl font-semibold">Ofrecemos una amplia gama de productos 3M.</p>
      <hr class="my-10 border-stone-300" />
      <p class="text-2xl p-2">Desde línea de estética automotriz, hasta complementos especializados para  el laminero, pintor y detallador automotriz. </p>
    </div>
  </div>
</section>

<style>
  .card-left {
    width: 100%;
    max-width: 30%;
    height: 275px;
  }

  .card-right {
    width: 100%;
    max-width: 32%;
    height: 405px;
  }

  @media (min-width: 768px) {
    .card-left {
      width: 60%;
    }

    .card-right {
      width: 35%;
    }
  }
</style>
