---
import ContactBtn from "./ContactBtn.astro";
---

<section
  class="section-container place-items-center pb-24 lg:pt-4 lg:pb-24 section-hero"
>
  <div
    class="flex flex-col lg:flex-row justify-between items-center lg:min-h-screen"
  >
    <div
      class="card-left grid justify-center p-5 mb-10 lg:ml-28 lg:mb-80 text-white content-center bg-black bg-opacity-20 backdrop-blur-[2px] rounded-md"
    >
      <p
        class="flex -mt-2 lg:-mt-6 text-3xl md:text-4xl lg:text-3xl font-bold title pb-4"
      >
        Nosotros hacemos el trabajo, tú solo viajas.
      </p>
      <div class="flex flex-wrap flex-col sm:flex-row items-center pb-4">
        <span class="font-light text-base sm:text-sm">
          En nuestra agencia, nos dedicamos a buscar y ofrecerte las mejores
          tarifas para que disfrutes de tus viajes sin preocuparte por el costo.
          ¡Deja que encontremos la mejor oferta para ti!
        </span>
      </div>
      <div class="absolute left-4 bottom-0">
        <ContactBtn />
      </div>
    </div>

    <div
      class="card-right lg:mb-80 p-5 md:p-8 lg:p-10 text-white content-center rounded-md"
    >
      <img src="/assets/logos/logo.png" alt="Logo" class="h-72 w-auto" />
    </div>
  </div>
</section>

<style>
  .section-container {
    margin-top: 1rem;
  }

  .card-left {
    width: 100%;
    max-width: 30%;
    height: 375px;
  }

  .card-right {
    width: 100%;
    max-width: 100%;
    height: 405px;
  }

  .icon-img {
    height: 6rem;
    width: auto;
    --tw-translate-y: -2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .card-left {
      width: 100%;
      max-width: 40%;
      height: 375px;
    }

    .card-right {
      width: 100%;
      max-width: 100%;
      height: 505px;
    }
  }

  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    .card-left {
      width: 100%;
      max-width: 70%;
      height: 375px;
    }

    .card-right {
      width: 100%;
      max-width: 70%;
      height: 405px;
    }

    .icon-img {
      height: 6rem;
      width: auto;
      --tw-translate-y: -1rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    .card-left {
      width: 100%;
      max-width: 80%;
      height: 275px;
    }

    .card-right {
      width: 100%;
      max-width: 80%;
      height: 305px;
    }

    .icon-img {
      height: 4rem;
      width: auto;
      --tw-translate-y: -1rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }

  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 480px) {
    .card-left {
      width: 100%;
      max-width: 80%;
      height: auto;
    }

    .card-right {
      width: 100%;
      max-width: 80%;
      height: auto;
    }

    .icon-img {
      height: 3.5rem;
      width: auto;
      --tw-translate-y: -0.75rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }

    .section-container {
      margin-top: 10px !important;
    }
    .offer-text {
      font-size: 18px;
    }

    .text-desc {
      font-size: 18px;
    }

    .title {
      font-size: 40px;
    }
  }
</style>
