---
import ContactBtn from "./ContactBtn.astro";
---

<img src="public/assets/blue_frame.png" alt="" style="position: absolute; top: -1px; left: -1px; z-index: -1;">

<section
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 section-hero">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold">
      Dental Integral
    </h1>
    <h2 class="text-lg mt-4 text-slate-600 max-w-xl">
      Dentista y consultorio dental en Guadalajara, Jalisco.
    </h2>
    <h2 class="text-md mt-4 text-slate-600 max-w-xl m-2">
      Desde limpiezas regulares hasta tratamientos especializados, nuestro especialista altamente calificado está listo para ofrecerte una experiencia dental excepcional que te hará sonreír.
    </h2>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <ContactBtn/>
    </div>
  </div>
  <div class="py-6 md:order-1 md:block">
    <img src="/assets/hero.svg" alt="">
  </div>
</section>


<style>
  .section-hero {
    padding-top: 2px;
  }
</style>
