---
const services = [
	{
		title: '+10',
		text: 'Más de diez años de experiencia'
	},
	{
		title: '93%',
		text: 'De pacientes satisfechos.'
	},
	{
		title: '50',
		text: 'Personas con mejor salud vucal al mes.'
	}
]
---

<div class="container-data lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 lg:flex-row px-12 py-20 w-full mx-auto  justify-between mb-10 mt-10">
    {
      services.map((service) => {
        return (
          <div class="w-full max-w-[358px] mx-auto flex flex-row items-center gap-3 md:gap-5">
            <h3 class="text-xl font-bold">{service.title}</h3>
            <p class="text-md"> {service.text}</p>
          </div>
        )
      })
    }

</div>

<style>
	.container-data {
		/* border-top: 1px solid rgb(205, 205, 205); */
		border-bottom: 1px solid rgb(205, 205, 205);
	}
</style>