---
import { Image } from "astro:assets";

const testimonials = [
  {
    name: "Adrian Alconer",
    opinion: '"Excelente! Un servicio muy personalizado y gran varidad de productos."',
    image: "frame1.svg",
    icon: "avatar2.svg",
    link: "https://www.google.com/maps/place/Pinturas+Color+Explosion+SA+de+CV/@20.6578714,-103.3361678,17z/data=!4m8!3m7!1s0x8428b39288db1dfb:0x583fd841b5af9c82!8m2!3d20.6578664!4d-103.3335929!9m1!1b1!16s%2Fg%2F11n78vt1_l?entry=ttu",
  },
  {
    name: "Luis Ulises",
    opinion: '"Encontre todo lo que buscaba."',
    image: "frame1.svg",
    icon: "avatar3.svg",
    link: "https://www.google.com/maps/place/Pinturas+Color+Explosion+SA+de+CV/@20.6578714,-103.3361678,17z/data=!4m8!3m7!1s0x8428b39288db1dfb:0x583fd841b5af9c82!8m2!3d20.6578664!4d-103.3335929!9m1!1b1!16s%2Fg%2F11n78vt1_l?entry=ttu",
  },
  {
    name: "Hugo Robert Duran",
    opinion: '"Son muy serios pero muy profesionales 😁"',
    image: "frame1.svg",
    icon: "avatar1.svg",
    link: "https://www.google.com/maps/place/Pinturas+Color+Explosion+SA+de+CV/@20.6578714,-103.3361678,17z/data=!4m8!3m7!1s0x8428b39288db1dfb:0x583fd841b5af9c82!8m2!3d20.6578664!4d-103.3335929!9m1!1b1!16s%2Fg%2F11n78vt1_l?entry=ttu",
  },
]


---

<h2 class="text-xl font-bold text-center mt-48 mb-10" id="testimonios">Testimonios</h2>

{
        <section class={`section principal-container ${"bg-theme-light"}`}>
          <div class="container">
            <div class=" gap-8 md:grid md:grid-cols-2" style="max-width:100vw;">
              <div data-aos="fade-right" class={`service-carousel ${ "md:order-1"}`}>
                {(
                  <div class="swiper special-height">
                    <div class="swiper-wrapper special-height">
                      {testimonials?.map((testimonial: any) => (

                        <div class="swiper-slide">
                            <img src={`/assets/` + testimonial.image } alt="" class="absolute">
                            
                            <div class="comment-container">
                              <div>
                                <img src={`/icons/` + testimonial.icon } alt="" class="w-[60px] m-4">
                              </div>
                              <div class="text-[var(--heading-1)]">
                                <p>{testimonial.opinion}</p>
                                <a href={testimonial.link}><p class="font-bold mt-4">{testimonial.name}</p></a>
                              </div>
                            </div>
                        </div>

                      ))}
                    </div>
                    <div class="pagination" />
                  </div>
                )}
              </div>

              <div
                class={`service-content mt-10 p-10  ${ "md:order-2"}`}
              >
                <h2 class="font-bold text-lg">Conoce algunas opiniones</h2>
                <p class="mt-4 mb-2 text-sm">Nos importa profundamente lo que piensan nuestros clientes. Creemos que  cada opinión cuenta y nos esforzamos por escuchar y aprender de sus  experiencias. Tu comentario es invaluable para nosotros y nos ayuda a  mejorar continuamente</p>

                <p class="text-sm text-[color:var(--text-color)]  mt-8">
                  <span class="font-bold">
                    ¡En <span class="text-[color:var(--color-primary)] bg-clip-text bg-gradient-to-br from-20% via-primary via-50%">Color Explosión</span> tu opinión nos importa! 
                  </span>
                    Dejanosla en nuestras redes sociales.
                </p>

                {/* <div class="flex ">
                    <div class="m-6">
                        <a href="https://www.facebook.com/dental.integral.GDL" class="text-xl leading-6 text-gray-600 hover:text-gray-900">
                            <i class="fab fa-facebook mr-2"></i></a>
                    </div>
                    <div class=" mt-6">
                      <a href="https://www.instagram.com/consultoriodentalintegral.cdi/" class="text-xl leading-6 text-gray-600 hover:text-gray-900">
                            <i class="fab fa-instagram mr-2"></i></a>
                    </div>
                </div> */}

              </div>

            </div>
          </div>
        </section>
  }



<script>
    import { Swiper } from "swiper";
    import "swiper/css";
    import "swiper/css/pagination";
    import { Autoplay, Pagination } from "swiper/modules";

    // astro:page-load event is fired when the page is loaded
    document.addEventListener("astro:page-load", () => {
      new Swiper(".service-carousel .swiper", {
        modules: [Pagination, Autoplay],
        autoplay: {
          delay: 3000,
        },
        pagination: {
          type: "bullets",
          el: ".service-carousel .pagination",
          clickable: true,
        },
      });
    });
  </script>




<style>

  .comment-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20%;
    padding: 15px;
    min-width: 300px;
    width: min-content;
    background: #ffffff;
    position: relative;
    border-radius: 20px;
    z-index: 999;
    box-shadow: 2px 1px 5px 0px rgb(215 215 215);
  }

  .special-height {
    min-height: 60vh;
  }

  .section {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 1080px) {
    .special-height {
      min-height: 40vh;
    }
    .service-content {
      padding: 5px;
    }
  }


</style>