<h2 class="text-xl mt-44 mb-8 text-center font-bold">Visitanos</h2>
<section
  class="principal-container grid lg:grid-cols-2 place-items-center p-8 md:pt-12 section"
  id="visitanos"
>
  <iframe
    data-aos="flip-left"
    style="border-radius: 20px;"
    max-width="500"
    width="100%"
    height="300"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d874.3187096746499!2d-103.37002025598568!3d20.6284275478286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad855a531277%3A0x336d445222e127ad!2sAv%208%20de%20Julio%203246%2C%20Lomas%20de%20Polanco%2C%2044960%20Guadalajara%2C%20Jal.!5e0!3m2!1ses!2smx!4v1726600964318!5m2!1ses!2smx"
    ><a href="https://maps.app.goo.gl/1AKmfMfXcE5rb8ZY6?g_st=iw">GPS devices</a></iframe
  >

  <!-- <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d874.3187096746499!2d-103.37002025598568!3d20.6284275478286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad855a531277%3A0x336d445222e127ad!2sAv%208%20de%20Julio%203246%2C%20Lomas%20de%20Polanco%2C%2044960%20Guadalajara%2C%20Jal.!5e0!3m2!1ses!2smx!4v1726600964318!5m2!1ses!2smx"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe> -->

  <div class="p-6 info-container">
    <div class="data-element">
      <img src="icons/map.svg" alt="icon" class="icon1" />
      <p class="my-auto mx-1">
        Av 8 de Julio 3246, Lomas de Polanco, 44960 Guadalajara, Jal.
      </p>
    </div>
    <div class="data-element">
      <img src="icons/calendar.svg" alt="icon" class="icon2" />
      <p class="my-auto mx-1">
        Lunes a viernes 11am - 8pm <br />
        <span>Sabados de 11am - 2pm</span>
      </p>
      <div class="blur-circle">
        <div class="cb-part1"></div>
        <div class="cb-part2"></div>
      </div>
    </div>
  </div>

  <div id="contacto"></div>
</section>

<style>
  .blur-circle {
    left: -80px;
  }

  section {
    padding: 50px 5vw;
  }
  .data-element {
    display: flex;
    margin: 20px;
  }

  .icon1 {
    padding: 1px 10px;
  }
  .icon2 {
    padding: 1px 8px;
    transform: scale(0.9);
  }
  .icon3 {
    padding: 1px 5px;
  }

  .cost-container {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 1024px) {
    section {
      display: flex;
      flex-direction: column;
      padding: 10px 8px;
    }
    .map {
      max-width: 100%;
    }
    .info-container {
      padding: 10px 25px;
    }

    .data-element {
      margin: 20px auto;
    }
  }
</style>
