
<h2 class="text-xl mt-44 mb-8 text-center">Visitanos</h2>
<section class="grid lg:grid-cols-2 place-items-center p-8 md:pt-12 section" id="visitanos">


    <iframe data-aos="flip-left" style="border-radius: 20px;" max-width="500" width="100%" height="300" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=P.%C2%BA%20de%20Los%20Encinos%2042B,%20La%20Martinica,%2045185%20Zapopan,%20Jal.+(Dental%20Integral)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car Navigation Systems</a></iframe>
        
    <div class="p-6 info-container">
        <div class="data-element">
            <img src="icons/map.svg" alt="icon" class="icon1">
            <p class="my-auto mx-1">P.ยบ de Los Encinos 42B, La Martinica, 45185 Zapopan, Jal.</p>
        </div>
        <div class="data-element">
            <img src="icons/calendar.svg" alt="icon" class="icon2">
            <p class="my-auto mx-1">Lunes a viernes 10am - 7:00pm</p>
        </div>
    </div>
    
    <div id="contacto"></div>
</section>



<style>

    section {
        padding: 50px 5vw;
    }
        .data-element {
            display: flex;
            margin: 20px;
        }

        .icon1 {
            padding: 1px 10px;
        }
        .icon2 {
            padding: 1px 8px;
            transform: scale(0.9);
        }
        .icon3 {
            padding: 1px 5px;
        }

        .cost-container {
            display: flex;
            justify-content: space-between;
        }


    @media only screen and (max-width: 1024px) {
        section {
            display: flex;
            flex-direction: column;
            padding: 10px 8px;
        }
        .map {
            max-width: 100%;
        }
        .info-container {
            padding: 10px 0px;
        }

        .data-element {
            margin: 20px 2px;
        }

    }

</style>